

<div class="container">
	

	<div class="row">
		
		<div class="col-md-6 offset-3 text-center">

			<div class="about_page">
			<h3>About this application</h3>
            <p> This application is made by Valentin Yunes</p>

            </div>
		</div>
	</div>
</div>
