

<div class="container" id="show_page">
	


<h1><%= @blog.title %></h1> 
<hr>
<br>
<p><%= @blog.content %></p>


<%= link_to "Back", root_path, class: 'btn btn-outline-primary', id: "show_button" %>

</div>